.jumbotron.jumbtron-fluid.mb-0
  %form.form-inline.justify-content-center
    %input.form-control.mr-sm-2.w-50
    %button.btn.btn-primary.my-2.my-sm-0 Search
    %button.btn.btn-outline-secondary.my-2.ml-sm-2 Detaile
  %p.leads.small.text-center.mt-3 よく検索されているワード： チェア デスク ロッカー